* {
  margin: 0;
  padding: 0;
}
:root {
  --one-seventh-width: calc(50vw / 7);
}
body {
  color: blue;
}
#TopDiv2, #MidDiv1, #MBottomDiv1 {
  box-sizing: border-box;
}
#TopDiv1 {
  background-color: green;
  width: calc(50vw + 30px);
  padding-top: 3px;
}
#TopDiv2 {
  width: var(--one-seventh-width);
  height: var(--one-seventh-width);
  margin-left: calc(var(--one-seventh-width) * 0);
  background-color: red;
  border: 5px solid black;
}
#MidDiv1 {
  width: calc(var(--one-seventh-width) * 2);
  height: calc(var(--one-seventh-width) * 2);
  margin-left: calc(var(--one-seventh-width) * 1);
  background-color: green;
  border: 10px solid pink;
  padding-top: 10px;
  padding-left: 6px;
}
#BottomDiv1 {
  width: calc(var(--one-seventh-width) * 4);
  height: calc(var(--one-seventh-width) * 4);
  margin-left: calc(var(--one-seventh-width) * 3);
  background-color: blue;
  color: green;
  border: 15px solid magenta;
  padding-top: 20px;
  padding-left: 15px;
}
p {
  color: mediumaquamarine
}